<%- include("partials/header.ejs") %>
        
<div id="resultsContainer">
    <% if(wasSearchTermFound === true) {%>
        <% for (var i=0; i < searchData.length; i++) {%>
            <div class="result d-flex mb-3">
                <div class="posterArea" style="background-image: url('<%= searchData[i].poster%>');">
                </div>
                <div class="infoArea">
                    <h4><%= searchData[i].title%></h4>
                    <h5><%= searchData[i].year%> - <%= searchData[i].type%></h5>
                    <p style="text-overflow: ellipsis;"><%= searchData[i].description%></p>
                </div>
            </div>
        <% } %>
    <% } 
    else { %>
        <h1>Show/Movie Not Found!</h1>
    <% } %>
</div>
