<%- include("partials/header.ejs") %>
<div id="detailPageContainer" class="d-flex flex-column">
    <div id="heroContainer">
        <div id="hero" class="d-flex justify-content-center align-items-center gap-3" style="background-image: linear-gradient(-180deg, rgba(255,255,255, 0.3) 0%, rgba(255,255,255, 0.3) 100%), url('<%= detailPage.backdrop%>');">
            <img id="heroPoster" src="<%= detailPage.poster%>">
            <div id="heroInfo"  class="d-flex flex-column justify-content-center">
                <h1 id="heroTitle" data-content-id="<%= detailPage.id%>" data-content-type="<%= detailPage.type%>" data-content-name="<%= detailPage.title%>"> 
                    <%= detailPage.title%> - <small><%= detailPage.premiere_date.split("-")[0]%></small></h1>
                <div class="d-flex gap-2">
                    <% detailPage.genres.forEach((element) => { %> 
                        <small class="heroGenre"><%= element.name %></small>
                    <% }) %>
                </div>
                <h3 id="heroTagline" class="mt-2"><%= detailPage.tagline %></h3>
                <p id="heroDescription"> <%= detailPage.description%></p>
                <div id="likeArea" class="d-flex gap-3">
                    <button id="like" type="button" onClick="editlike()"></button>
                    <div id="dislike" type="button" onClick="editlike()"></div>
                    <% if(locals.auth) { %>
                    <button type=button onClick="editWatchlist()" id="watchlist" class="d-flex align-items-center gap-1 p-1">
                        <div id="watchlistStatus" style="background-image: url('/assets/add.png')"></div>
                        <div id="watchlistText">Add to Watchlist</div>
                    </button>
                    <% } else {%>
                        <a id="watchlist" href="/login" class="d-flex align-items-center gap-1 p-1">
                            <div id="watchlistText">Login to Make a Watchlist</div>
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    
    
    <div id="providerArea" class="d-flex flex-column align-items-center mt-3">
    
        <h1>Where to Watch <span id="providerDetailName"><%= detailPage.title%></span></h1>

        <% if(detailPage.providers) { %>
       
            <% if (detailPage.providers.flatrate) { %>
                <h2 class="mt-2">Subscription</h2>
                <div id="subscriptionArea" class="d-flex gap-2">
                <% detailPage.providers.flatrate.forEach((element) => { %>
                    <div class="subscription providerBlocks d-flex flex-column">
                        <img class="provider" src="https://image.tmdb.org/t/p/w92<%= element.logo_path %>"/>
                        <div><%= element.provider_name %></div>
                    </div>
                    
            <% })%>
                </div>
                
            <% } %>

            <% if (detailPage.providers.ads) { %>
                <h2 class="mt-2">Free With Ads</h2>
                <div id="adsArea" class="d-flex gap-2">
                    <% detailPage.providers.ads.forEach((element) => { %>
                        <div class="ad providerBlocks d-flex flex-column">
                            <img class="provider" src="https://image.tmdb.org/t/p/w92<%= element.logo_path %>"/>
                            <div><%= element.provider_name %></div>
                        </div>
                        
                <% })%>
                </div>
                
            <% } %>

            <% if (detailPage.providers.rent) { %>
                <h2 class="mt-2">For Rent</h2>
                <div id="rentArea" class="d-flex gap-2">
                    <% detailPage.providers.rent.forEach((element) => { %>
                        <div class="rent providerBlocks d-flex flex-column">
                            <img class="provider" src="https://image.tmdb.org/t/p/w92<%= element.logo_path %>"/>
                            <div><%= element.provider_name %></div>
                        </div>
                        
                <% })%>
                </div>
                
            <% } %>

            <% if (detailPage.providers.buy) { %>
                <h2 class="mt-2">Purchase to Own</h2>
                <div id="purchaseArea" class="d-flex gap-2">
                    <% detailPage.providers.buy.forEach((element) => { %>
                        <div class="purchase providerBlocks d-flex flex-column">
                            <img class="provider" src="https://image.tmdb.org/t/p/w92<%= element.logo_path %>"/>
                            <div><%= element.provider_name %></div>
                        </div>
                <% })%>
                </div>
                
            <% } %>
            <% }  else {%>

                <h2 class="mt-5">We Don't Know &#128514</h2>
    
                <% } %>
    </div>
</div>

<script src="/scripts/detailPage.js"></script>
